.flex-row {
  display: flex;
  flex-direction: row-reverse;
}

.flex-row > .btn {
  flex: 1;
  margin-left: 15px;
}

#flex-body > .flex-section-block:last-child {
  margin-bottom: -15px;
}

.flex-grid {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.flex-grid > .btn {
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-left: 15px;
}

.flex-grid .flex-content {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.flex-grid .flex-content > * {
  flex: 1 1 calc(100% / 6);
}

@media (max-width: 1199px) {
  .flex-grid .flex-content > * {
    flex: 1 1 calc(100% / 3);
  }
}

.flex-grid .flex-section-body {
  display: flex;
}

.flex-grid .flex-section-body > .btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 17px;
}

.flex-grid .flex-section-block + .flex-section-block {
  margin-top: 45px;
  padding-top: 45px;
  border-top: 3px solid rgba(0, 0, 0, 0.3);
  position: relative;
}

.flex-grid .flex-content-block {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-bottom: 15px;
}

.flex-grid .flex-content-block > .btn-group {
  margin-bottom: 15px;
  display: flex;
}

.flex-grid .flex-content-block > .btn-group .btn + .btn {
  flex: 1;
}

.flex-grid .flex-content-block .html-block {
  border: 1px solid #e1e1e1;
  padding: 0px;
  min-height: 200px;
  flex: 1;
}

.flex-grid .flex-content-block .html-block .preview-multi-content {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 8px;
}

.flex-grid .flex-section-header {
  padding: 10px 0px;
  display: flex;
}

.flex-grid .flex-section-header .flex-section-background {
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

.flex-grid .flex-section-header .flex-section-background img {
  width: 100%;
}

.flex-grid .flex-section-header .flex-section-background + div {
  flex: 1;
}

.img-responsive {
  height: auto !important;
}

.content-area {
  display: flex;
}

.content-area .content-filling-area {
  flex: 1;
}

.content-area .content-multiply-area {
  overflow: hidden;
  width: 0px;
  margin: 0px;
  padding-left: 0px;
  transition: all 0.3s ease;
}

.content-area .content-multiply-area .content-multiply-preview {
  margin-top: 15px;
}

.content-area .content-multiply-area.open {
  width: 260px;
  height: 597px;
  padding-left: 15px;
}

.content-area .content-multiply-area.open .content-multiply-preview {
  border: 1px solid #e1e1e1;
  background: #fefefe;
  overflow: auto;
  height: 100%;
}

.content-area .add_to_multiply_area {
  display: none;
  width: 100%;
}

.content-area .add_to_multiply_area.open {
  display: table;
}

.content-area .preview-multi-content {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 8px;
  margin: 5px;
}

.truncate {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.truncate * {
  display: inline !important;
}

.float-none {
  float: none !important;
}

span[data-toggle="tooltip"]::after {
  font-family: FontAwesome;
  color: #1E91CF;
  content: "\f059";
  margin-left: 4px;
}
