/*=============================
Basic Styling
==============================*/

/* MARGINS & PADDINGS */
.p-xxs {
  padding: 5px !important;
}
.p-xs {
  padding: 10px !important;
}
.p-sm {
  padding: 15px !important;
}
.p-m {
  padding: 20px !important;
}
.p-md {
  padding: 25px !important;
}
.p-lg {
  padding: 30px !important;
}
.p-xl {
  padding: 40px !important;
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-xxl {
  margin-top: 50px;
}
.m-t-xxxl {
  margin-top: 60px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.space-15 {
  margin: 15px 0;
}
.space-20 {
  margin: 20px 0;
}
.space-25 {
  margin: 25px 0;
}
.space-30 {
  margin: 30px 0;
}

.normal-font {
  font-weight: 400!important;
}

.medium-font {
  font-weight: 500!important;
}

.semibold-font {
  font-weight: 600!important;
}

.bold-font {
  font-weight: 700!important;
}

.capitalize {
  text-transform: capitalize!important;
}

.fullwidth.row > *[class *= "col-"] {
  padding:0!important;
}

.fullwidth-img {
  width:100%!important;
}

.img-zoom {
  overflow:hidden;
  display: block;
}

.img-zoom img {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.img-zoom:hover img{
  transform:scale(1.1);
}

body.mac-browser.desktop .max-offset {
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  overflow-x:hidden;
  background-repeat:no-repeat!important;
  color:#4d4d4f;
  height:auto!important;
  line-height: 1.7em;
  /* padding-bottom:0!important; */
}

body .form-control:focus {
  border-color: #a2cd3a!important;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(212, 148, 139, 0.5);
}

h1, h2{
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3em;
  font-family: 'Montserrat', sans-serif;
}

h1, h2,h3,h4,h5,h6 {
  text-transform:uppercase;
  font-weight: 700;
}

a {
  color:#a2cd3a;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  text-shadow: none;
}

a:hover,a:focus, a:hover {
  color:#a2cd3a;
}

body h2:not(.swal2-title), body:not(.cke_editable) h2:not(.swal2-title):not([style]){ 
  font-size:40px;
  margin-bottom:40px!important;
  text-align:left;
  text-transform: capitalize!important;
  color:#a2cd3a;
  display:none;
}

body.mac-browser.desktop .max-offset {
  width: calc(100vw - 0px);
  margin-left: calc(-50vw + -0.5px);
}

body .btn-primary {
  background: #54803a;
  background-size: 100% 100%;
  border-color:#54803a!important;
  border-width: 1px;
  border-radius: 3px;
  min-width: 180px;
  min-height:60px;
  height:60px;
  padding:20px 0;
  color:#fff;
}

body .btn-primary.back {
  background: #898989!important;
  border-color:#898989!important;
}

body .btn-primary.back:hover {
  background: #fff!important;
  color:#898989!important;
}

body .btn-default.disabled {
  color: #fff;
  opacity:0.8
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active {
  border-color:#a2cd3a!important;
  background-color:#3e4042;
  background-size: 100% 100%;
}

.form-control[disabled], fieldset[disabled] .form-control {
  opacity:0.8;
}

.banner-background {
  background-size:cover;
  background-repeat:no-repeat;
  padding:170px 0;
}

.page-banner img {
  display:none;
}

body .page-banner .page-banner-title {
  font-size:60px;
  font-weight: bold;
  color:#4d5051;
  text-transform:uppercase;
  line-height: 1.7em;
}

.slick-nav {
  top: 10%;
  width: 20px;
  text-align: center;
}

.slick-nav.left {
  left:0;
}

.slick-nav.right {
  right:0;
}

.slick-nav i {
  font-size:30px;
}

.slick-slider {
  padding:0 20px;
}

body .slick-track {
  display: flex;
  align-items: center;
}

/*=============================
Header
==============================*/ 
body .header-container .header-menu #main-menu ul {
  min-width: 200px!important;
  padding:20px;
  top: 40px!important;
}

body .header-logo {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

body .header-logo:hover {
    transform: translateY(5%);
}

body header.fixed-header {
  -webkit-box-shadow: 0px 6px 39px -9px rgba(133,133,133,1);
  -moz-box-shadow: 0px 6px 39px -9px rgba(133,133,133,1);
  box-shadow: 0px 6px 17px -9px rgba(133,133,133,1);
}

body .header-logo-image img {
  -webkit-box-shadow: 0px 6px 39px -9px rgba(133,133,133,1);
  -moz-box-shadow: 0px 6px 39px -9px rgba(133,133,133,1);
  box-shadow: 0px 6px 39px -9px rgba(133,133,133,1);
}

body #enquiry.slide-out-cart.open-custom #enquiry_dropdown_icon::before, body #cart.slide-out-cart.open-custom #cart_dropdown_icon::before {
  background:rgba(0,0,0,0.6);
}

body .header-container {
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
}

body .header-container .header-logo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 3;
}

.header-bottom {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column-span: 1;
  -ms-grid-row-span: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  background-color:#a2cd3a!important;
  color:#111111;
}

.header-bottom-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 70% auto;
  grid-template-columns: 15% 70% auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

body .header-bottom-wrapper > *:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

body .header-bottom-wrapper > *:nth-child(2) {
  -ms-grid-column: 2;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

body .header-bottom-wrapper > *:nth-child(3) {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

body .header-container .header-menu {
  justify-content: center;
  align-items: center;
}

.header-container .header-logo {
  margin-bottom:-65px;
}

.header-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-social .footer-social-icons {
  display:flex;
  justify-content: flex-end;
  padding-top:0;
}

.header-social .footer-social-icons a {
  margin-left:30px;
}

body .fixed-header {
  background:#3e4042;
}

.header-social .footer-social-icons img {
  height:100%!important;
}

body .header-container .header-links>a, body .header-container #account>a[data-toggle="dropdown"], body .header-container #enquiry>a, body .header-container #cart>a, body .header-container ._search>a {
  width:50px;
  padding:10px;
}

body #enquiry.slide-out-cart .dropdown-menu .cart-header, body #cart.slide-out-cart .dropdown-menu .cart-header {
  background:#a2cd3a;
  border-color:#a2cd3a;
  color:#111;
}

body #enquiry .dropdown-menu, body #cart .dropdown-menu {
  background:#3e4042;
  border:none;
  color:#fff;
}

body .header-container .header-menu #main-menu a {
  font-size:16px;
  text-transform: uppercase;
  font-weight: 500;
}

body .header-container .header-menu #main-menu ul li.active a {
  color:#a2cd3a;
}

body .breadcrumb {
  background:none;
  border:none;
  margin-bottom:5%;
}

body .breadcrumb li {
  padding:0 15px;
  padding-left:0;
  margin-right:15px;
}

body .breadcrumb li a {
  font-size:12px;
  text-transform:uppercase;
}

body .breadcrumb li:last-child a {
  color:#4d5051;
}

.pagination-text {
  margin-top:30px;
}

body .header-container #cart>a .badge {
  position: relative;
  transform:none;
  left:auto;
  background:none;
}

body .header-container #cart>a .badge>span {
  font-size:12px;
  transform:none;
  color:#a2cd3a;
}

body .header-container #cart .cart-dropdown {
  display:flex;
}

/*=============================
Account
==============================*/ 
body.account-account .account-container a:hover, body.account-account .account-container a:focus {
  border-color:#a2cd3a;
}

body.account-account .account-container a .icon-font::before  {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

body.account-account .account-container a:hover .icon-font::before, body.account-account .account-container a:focus .icon-font::before {
  color:#a2cd3a;
}

.buttons .pull-left .btn-default {
  background:#8f8f8f;
  color:#fff;
} 

/*=============================
Home
==============================*/ 
h3.home-heading {
  font-size:32px!important;
}

body.common-home .bnews-list .artblock {
  display:flex;
  flex-direction:row;
  width:100%;
}

body.common-home .news_latest h3 {
  margin-bottom:30px;
  font-size:30px;
}

body.common-home .news_latest .bnews-list {
  padding-left:2px;

}

body.common-home .product-layout {
  padding:0!important;
}

/* body.common-home .bnews-list .artblock  {
  margin-left:5px;
} */

body .slideshow .slider-custom-dots .owl-dot.active {
  background:#a2cd3a;
}

.slider-slideshow-description .slider-slideshow-description-texts {
  text-transform:uppercase;
  text-align: center;
  color: #4d5051;
}

body .slider-slideshow-description .slider-slideshow-description-texts .slideshow-text-0 {
  font-size:55px;
  font-weight: bold;
}

body .slider-slideshow-description .slider-slideshow-description-texts .slideshow-text-1 {
  font-size:35px;
  font-weight:500;
}

body .slider-slideshow-description {
  top:35%;
}

.home_content {
  padding:0!important;
}

body.common-home .news_latest {
  width:80%;
  margin:0 auto;
}

body.common-home .news_latest .owl-carousel .owl-item  {
  margin-left:30px;
  margin-right:30px;
}

body.common-home .news_latest .owl-carousel .owl-stage-outer {
  overflow:visible;
}

body .owl-nav > *{
  width:20px;
  height:20px;
  top:45%;
}

body.common-home .news_latest .owl-carousel .slick-nav i {
  color:#a2cd3a;
}

body.common-home .fcategory  {
  background:#e4e4e4;
}

body.common-home .fcategory .product-thumb {
  padding:10px;
  margin-bottom:0;
  text-align: center;
  position: relative;
  background: #fff;
}

body.common-home .fcategory .product-thumb:before {
  content:"";
  display: block;
  position:absolute;
  top:0;
  width: 100%;
  height:10px;
  background:#a2cd3a;
  left:0;
  opacity: 0;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

body.common-home .fcategory .product-thumb:hover:before {
  opacity:1;
}


body.common-home .fcategory .product-thumb h4 {
  font-weight: 500;
  color:#4d4d4f;
}

body.common-home .fcategory .product-thumb h4 a {
  color:#4d4d4f;
}

body.common-home .fcategory .product-thumb img {
  margin-bottom:30px;
  margin-top: 30px;
}

/*=============================
About Us
==============================*/ 
h3.main-title {
  font-size:30px;
  font-weight: 700;
  text-transform: uppercase;
}

h3.sub-title  {
  font-weight:400;
  text-transform: uppercase;
}

.about-content_text{
  margin-top:7%;
  font-size:18px;
  line-height:1.7em;
}

.cta-banner {
  padding:7% 0;
}

.cta-banner h3 {
  font-size:60px;
  text-transform:uppercase;
  color:#fff;
  font-weight: bold;
}

.partner-row {
  padding: 40px 0;
}

.logo-wrapper {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
}

.logo-wrapper  img {
  padding:0 20px;
  width: 100%;
  margin: 0 auto;
}

.image-col img {
  width:100%;
}

/*=============================
Blog/News
==============================*/ 
body .bnews-list {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  overflow:visible;
}

body .bnews-list .artblock {
  width: calc(100% / 2 - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ccc;
  padding: 0;
  margin-right: 20px;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  margin-bottom:20px;
  /* -ms-flex-wrap:wrap;
  flex-wrap:wrap */
} 

body .bnews-list .artblock:hover {
  -webkit-box-shadow: 0px 0px 81px -10px rgba(102,102,102,1);
  -moz-box-shadow: 0px 0px 81px -10px rgba(102,102,102,1);
  box-shadow: 0px 0px 81px -10px rgba(102,102,102,1);
}


body .bnews-list .artblock:nth-child(2n) {
  margin-right:0;
}

body .bnews-list .artblock .col-left {
  padding:20px;
  flex:1;
}

body .bnews-list .artblock .col-right img{
  visibility: hidden;
}

body .bnews-list .artblock .col-right {
  background-size:cover!important;
}

.bnews-list .artblock .description {
  display:none;
}

body .bnews-list .artblock .blog-button {
  text-align:left;
}

body .bnews-list .artblock .article-image {
  margin-right:0
}

body .bnews-list .artblock .name {
  margin-bottom:20px;
}

.news-ncategory .list-group a {
  border-radius:3em!important;
  background:#898989;
  color:#fff;
}

.news-ncategory .list-group a:hover {
  background-color:#a2cd3a;
  text-shadow: none;
}

body .bnews-list .artblock .name a {
  font-weight: 400;
  color:#4d4d4f;
  text-transform: uppercase;
  font-size:20px;
}

body .bnews-list .artblock .name a:hover {
  color:#a2cd3a;
}

body .article-content  .article-meta .date  {
  color:#a2cd3a;
  font-size:14px;
}

body .article-content .article-meta {
  border:none;
}

body .stButton .facebook {
  background:url('../image/icon_nav-sm-fb.png');
  background-repeat: no-repeat!important;
  background-size: contain!important;
}

body .stButton {
  background-repeat: no-repeat!important;
  background-size: contain!important;
}

.article-share {
  display:flex;
  align-items:center;
}

.share-buttons {
  padding-top: 5px;
  padding-left:10px;
}
/*=============================
Contact Us
==============================*/ 
.contact-body label {
  display:none;
}

.contact-body .form-group {
  margin-bottom:15px
}

select.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control  {
  height:46px;
  font-size:15px;
}

textarea.form-control {
  font-size:15px;
}

/*=============================
Category
==============================*/ 
body #side-price .ui-slider-handle {
  background:#fff;
  border:2px solid #393939;
}

body.product-special .product-view>*, body.product-category .product-view>* {
  width: calc((100% / 4) - 15px);
  margin-left:15px;
}

body .list-group-item {
  background:none;
  border-color:transparent;
}

body .list-group-item.item-header {
  font-size:18px;
  font-weight:500;
  padding:0;
  margin-bottom:20px;
}

body .product-block .product-name a {
  color:#4d4d4f!important;
  text-transform:uppercase;
}

body #side-categories .group .item {
  margin-bottom:10px;
}

body #side-categories .group .item a {
  background:#898989;
  color:#fff!important;
  text-transform: uppercase;
  border-radius:3em;
  padding: 7px 20px;
}

body .product-block {
  background:none;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

body #side-categories .group .item a:hover {
  background:#a2cd3a;
  color:#fff!important;
}

body #side-categories .side-categories-level-1+.side-categories-level-1 {
  border:none;
} 

body .product-block {
  position: relative;
  border:1px solid #dedede;
}

body .product-block .product-button {
  position: absolute;
  top: auto;
  left: auto;
  transform: none;
  margin-top: 10px;
  width: 100%;
  bottom: -47px;
}

body .product-block:hover .product-button {
  opacity: 1; 
}

body #side-price .price-container>* input {
  background:none;
  border:none;
}

body >.container a .more-btn {
  color:#4d4d4f!important;
  background: #a2cd3a;
  border-color:#a2cd3a;
}

body .product-block .product-button button {
  font-weight: 500;
}

body .product-block .product-button button:hover {
  background:#fff!important;
}


body .product-block .product-button > * {
  flex:1;
  min-width: 50%!important;
  background:#898989;
  border-color:898989;
}

body .product-block .product-button > * button {
  min-width: 100%!important;
}

body .product-block .product-details {
  /* width: 100%; */
}

body .product-block .product-details .price{
  font-size:14px;
}

body .product-block .product-details .price .price-old {
  font-size:14px;
  color:#e11f26;
  font-weight: 500;
}

.input-group select#input-sort {
  flex-direction: row;
}

body .product-block img {
  padding:20px;
}

body #side-price .list-group-item:not(.item-header) {
  padding-top:0;
}

body .product-block:hover {
  -webkit-box-shadow: -2px 0px 20px -1px rgba(133,133,133,1);
  -moz-box-shadow: -2px 0px 20px -1px rgba(133,133,133,1);
  box-shadow: -2px 0px 20px -1px rgba(133,133,133,1);
}

#product-tabs {
  margin-top:40px;
}

body.product-product .tab-content {
  padding:20px;
}

#featured_slider_related_products_ .slick-slide{
  margin-bottom:47px;
  margin-top:20px
}


/*=============================
Product
==============================*/ 
body .sub-arrow {
  display:none;
}

body .product-description .product-name {
  font-weight: 400;
  font-size:32px;
  margin-bottom:30px;
}

.product-price, .product-special-price {
  color:#cb3b3a;
  font-size:28px;
  margin-bottom:30px;
  margin-right:10px;
}

.price-wrapper .product-price {
  color:#898989;
}

.price-wrapper {
  display: flex;
}

.btn-number {
  background:#989898;
  color:#fff;
}

.btn-number .glyphicon:before {
  -webkit-text-stroke: 2px #989898;
}

body.product-product .product-image-column {
  padding-right: 25%;
}

body .swal2-popup .swal2-styled.swal2-confirm {
  background:#54803a;
}

.product-description {
  line-height: 1.7em;
}

.product-image-main-container {
  border: 1px solid #ccc;
}

.at-style-responsive .at-share-btn {
  background:none!important;
}

.at-style-responsive .at-share-btn * {
  color:#000!important;
}

body .nav-tabs>li.active>a, body .nav-tabs>li.active>a:focus, body .nav-tabs>li.active>a:hover {
  border:1px solid #555555;
}

.nav-tabs {
  border-bottom:1px solid #555555;
}

.nav-tabs>li>a {
  border:1px solid #ccc;
  margin:0;
  border-radius: 0;
  color:#555555;
  text-transform:uppercase;
  border-bottom:none;
}

.download-row  table * {
  border:none;
}

.download-row .content tbody{ 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding:20px;
}

.download-row  tbody  tr {
  width:50%;
}

.download-row  tbody  tr > *{
  display: block;
}

.download-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.download-row .left {
  width:20%;
  padding-right:30px;
}

.download-row .right{
  width:80%;
}

body .download-row table { 
  width:100%!important;
  border:none;
  text-align: left;
}

.download-item-body  table > tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding:20px;
}

.download-item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background:none;
  border:1px solid #fff;
}

.download-item-body .category-image {
  width:35%;
}

.manufacturer a {
  padding:10px 20px;
  margin-bottom:20px;
  display: block;
  border-radius:3em;
  background: #898989;
  color:#fff;
  text-transform: uppercase;
  text-align: left;
}

body .panel-title>a {
  padding:15px 20px;
  text-align: left;
  font-weight: 500;
}

.download-row .panel-group .panel {
  border:none;
  background:none;
}

body .download-row table a {
  font-weight: 400;
}

/* Location */
.retailer-wrapper {
  align-items:center;
}

.retailer-block a:hover,  .retailer-block a.active {
  border-color:#a2cd3a;
}

.retailer-wrapper .slick-slide img {
  margin:0 auto;
}

.retailer-block a {
  padding:5px;
  display: block;
  border:2px solid transparent;
}

.location-row .left { 
  width:20%;
  padding-right:30px;
}

.location-row .right{
  width:80%;
  margin-bottom:30px;
  padding-left: 30px;
}

.location-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.location-wrapper .location-block {
  border:1px solid #dadada;
  padding:20px;
  text-align: left;
  font-size:13px;
}

.location-wrapper .location-block .title {
  font-size:14px;
  font-weight: 600;
  text-transform:uppercase;
}

#country {
  padding:10px 20px;
}

/*=============================
Footer
==============================*/  
footer {
  padding:0;
}

.footer-upper-contet {
  align-items: center;
}

.footer-top {
  padding:30px 0;
  background:#fff;
  text-align: center;
}

footer .footer-contact-links a{
  color:#111;  
  font-weight: 500;
  text-transform: uppercase;
}

.footer-top .container {
  width:60%;
}

.footer-bottom {
  padding:20px 0;
  background:#3e4042;
}

.powered , .fcs {
  font-size:12px;
}

body .fcs a {
  color:#a2cd3a;
  text-decoration: none;
}

.footer-menu {
  display:flex;
  align-items:center;
  justify-content: flex-end;
  margin-bottom:0;
} 

.footer-contact-links {
  width:70%;
}

.footer-contact-links li {
  margin:0 20px;
}

body .footer-upper-contet>*:last-child, footer .footer-social-icons {
  flex:0.2;
  padding-top:0;
  text-align: center;
}

footer .footer-social-icons> * {
  margin-right:10px;
}

body #scrollTop img{
  display:block!important;
  color:#111;
  margin:0 auto;
  margin-bottom:10px;
}

body #scrollTop {
  display:inline-block;
  color: #111;
  text-align: center;
  margin:0 auto;
  position: relative;
  bottom:0;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  padding-bottom:20px;
}

body #scrollTop:hover {
  bottom:5px;
  cursor:pointer;
}

body .newsletter-section {
  padding:60px 0!important;
  background:center/cover no-repeat url(../image/bg_hp-news.png);
  color:#fff;
  border-top:0!important;
}

body .subscribed {
  margin-top:50px;
}

.mailchimp-integration h3 {
  font-size:32px;
  color:#fff;
  font-weight: 700;
  text-transform: uppercase;
}

body .mi-toptext {
  font-size:18px;
  font-weight:400;
  margin-bottom:50px;
}

body .box-content {
  max-width: 1080px;
}

body .mailchimp-integration  .form-control {
  height: 70px;
  margin-right:20px;
  text-transform: uppercase;
  font-size:18px;
}

.mi-button .btn {
  background:#54803a;
}

body .mi-button {
  margin-left:10px
}

.mi-block div:not(.mi-button) a {
  color:#54803a;
}

.mi-block a:hover {
  color:#a2cd3a;
}

/*pagination*/
body .pagination>li>span,  {
  border:1px solid #666;
  color:#666;
  background:none;
  border-radius: 50%!important;
}

body .pagination li > *{
  border:1px solid #666;
  border-radius: 50%;
  margin-right:10px;
  color:#666;
  background:none;
  border-top-left-radius : 50%!important ; 
  border-bottom-left-radius : 50%!important;
}

body .pagination>li:last-child>a {
  border-top-right-radius:  50%!important ; 
  border-bottom-right-radius: 50%!important ; 
}


body .pagination>.active>a, body .pagination>.active>a:focus, body .pagination>.active>a:hover, body .pagination>.active>span, body .pagination>.active>span:focus, body .pagination>.active>span:hover {
  background:none;
  color:#54803a;
  border:1px solid #54803a;
  border-radius: 50%!important;
}

body .pagination>li>a:hover {
  color:#54803a;
  border:1px solid #54803a;
  background:none;
}


.pagination>li:last-child>a, .pagination>l.active>a {
  border:1px solid #54803a;
  color:#54803a;
}

.pagination {
  margin-top:47px;
}

body .product-image-additional {
  padding:0
}

body.product-product #product  {
  max-width:100%;
}

body.product-product #product .form-group .input-group {
  max-width: 250px;
}

.btn-back {
  background:#898989;
  color:#fff;
}

#coupon-content .input-group input, #voucher-content .input-group input{
  min-height: 60px;
}

/* body #footer-area {
  position: relative!important;
} */

/*=============================
Responsive
==============================*/

@media (min-width: 1300px) {
  .container {
      width:90%;
  } 
}

@media only screen and (max-width: 1280px) { 
}

@media only screen and (max-width: 1024px) {  
}

@media (max-width: 1199px) and (min-width: 541px) {
  body.product-special .product-view>*, body.product-category .product-view>* {
      width: calc(50% - 15px);
  }

}

@media only screen and (max-width: 991px) { 

  body .header-container {
    padding:0;
  }

  .contact-footer{
    text-align:center;
  }

  .logo-wrapper  img {
    width: 70%;
  }

  body .footer-upper-contet>*:last-child, footer .footer-social-icons {
    flex:1;
  }

  body .page-banner .page-banner-title {
    font-size: 40px;
    line-height: 1em;
    bottom: 50%;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: none;
    text-align: center;
  }

  .cta-banner h3 {
    font-size:40px;
  }

  .logo-wrapper {
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }

  body .bnews-list .artblock {
    width:100%;
    margin-right:0;
  }
  
  body.common-home .bnews-list .artblock {
    display:block!important;
    height:auto;
  }

  body .bnews-list .artblock .name a {
    font-size:16px;
  }

  body .slider-slideshow-description {
    top:25%;
  }

  body .slider-slideshow-description .slider-slideshow-description-texts .slideshow-text-0 {
    font-size:30px;
  }

  body .slider-slideshow-description .slider-slideshow-description-texts .slideshow-text-1{
    font-size:20px;
  }

}

@media only screen and (max-width: 767px) { 
  .right, .left {
    width:100%!important;
    padding:20px 0!important;
  }

}