{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    {% for alert in alerts %}
      <div class="alert alert-{{ alert.type }}">
        {{ alert.msg }}
      </div>
    {% endfor %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">


        <ul class="nav nav-tabs" id="language">
          {% for language in languages %}
          <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
          {% endfor %}
        </ul>

        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">


          <div class="tab-content">{% for language in languages %}
            <div class="tab-pane" id="language{{ language.language_id }}">
          {% for field in fields %}

            {% if (field.type == 'text') or (field.type == 'number') %}
            <div class="form-group">
              <label class="col-sm-2 control-label" for="{{ modulename }}_{{ field.name }}_{{ language.language_id }}">{{field.label }}</label>
              <div class="col-sm-10">
                <input type="{{ field.type }}" name="{{ modulename }}_{{ field.name }}_{{ language.language_id }}" value="{{ _context[''~modulename~'_'~field.name~'_'~language.language_id] }}" placeholder="{{field.label }}" id="{{ modulename }}_{{ field.name }}_{{ language.language_id }}" class="form-control" />
              </div>
            </div>
            {% endif %}

            {% if (field.type == 'image') %}

              <div class="form-group">
                <label class="col-sm-2 control-label" for="{{ modulename }}_{{ field.name }}_{{ language.language_id }}">{{field.label }}</label>
                <div class="col-sm-10">
                  <a href="" id="thumb-{{ modulename }}_{{ field.name }}_{{ language.language_id }}" data-toggle="image" class="img-thumbnail"><img src="{{ _context[''~modulename~'_'~field.name~'_'~language.language_id~'_thumb'] }}" alt="" title="" data-placeholder="{{ field.label }}" /></a>
                  <input type="hidden" name="{{ modulename }}_{{ field.name }}_{{ language.language_id }}" value="{{ _context[''~modulename~'_'~field.name~'_'~language.language_id] }}" id="input-{{ modulename }}_{{ field.name }}_{{ language.language_id }}" />
                </div>
              </div>

            {% endif %}

            {% if (field.type == 'dropdown') %}

              <div class="form-group">
                <label class="col-sm-2 control-label" for="{{ modulename }}_{{ field.name }}_{{ language.language_id }}">{{field.label }}</label>
                <div class="col-sm-10">
                  <select name="{{ modulename }}_{{ field.name }}_{{ language.language_id }}" class="form-control" >
                    <option value="">- {{ field.label }} -</option>
                    {% for option in field.choices %}
                    <option value="{{ option.value }}"
                    {% if (option.value == _context[''~modulename~'_'~field.name~'_'~language.language_id]) %}
                      selected
                    {% endif %}>{{ option.label }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

            {% endif %}

            {% if (field.type == 'textarea') %}

              <div class="form-group">
                <label class="col-sm-2 control-label" for="{{ modulename }}_{{ field.name }}_{{ language.language_id }}">{{field.label }}</label>
                <div class="col-sm-10">
                  <textarea name="{{ modulename }}_{{ field.name }}_{{ language.language_id }}" placeholder="{{field.label }}" id="{{ modulename }}_{{ field.name }}_{{ language.language_id }}" class="form-control ckeditor">{{ _context[''~modulename~'_'~field.name~'_'~language.language_id] }}</textarea>
                </div>
              </div>

            {% endif %}

            {% if (field.type == 'repeater') %}
            <div class="table-responsive">
              <table id="repeater-{{ modulename }}_{{ field.name }}_{{ language.language_id }}" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    {% for item in field.fields %}
                    <td class="text-left">{{ item.label }}</td>
                    {% endfor %}
                    <td></td>
                  </tr>
                </thead>
                <tbody>

                {% set rctr = 0 %}
                {% for single_row_item in _context[''~modulename~'_'~field.name~'_'~language.language_id] %}
                <tr id="row-{{ modulename }}_{{ field.name }}_{{ language.language_id }}{{ rctr }}">

                  {% for item in field.fields %}

                  {% if (item.type == 'text') or (item.type == 'number') %}
                  <td class="text-left">
                    <input type="{{ item.type }}" name="{{ modulename }}_{{ field.name }}_{{ language.language_id }}[{{ rctr }}][{{ item.name }}]" value="{{ single_row_item[item.name] }}" placeholder="{{item.label }}" id="{{ modulename }}_{{ field.name }}_{{ language.language_id }}_{{ item.name }}{{ rctr }}" class="form-control" />
                  </td>
                  {% endif %}

                  {% if (item.type == 'textarea') %}		
	                <td class="text-left">		
	                <textarea name="{{ modulename }}_{{ field.name }}_{{ language.language_id }}[{{ rctr }}][{{ item.name }}]" placeholder="{{item.label }}" id="{{ modulename }}_{{ field.name }}_{{ language.language_id }}_{{ rctr }}" class="form-control ckeditor">{{ single_row_item[item.name] }}</textarea>		
	                </td>		

                  <script type="text/javascript">
                    CKEDITOR.replace("{{ modulename }}_{{ field.name }}_{{ language.language_id }}_{{ rctr }}", { baseHref: "{{ base_url }}", language: "{{ language.code }}", filebrowserBrowseUrl: 'index.php?route=common/filemanager&token={{ token }}', filebrowserImageBrowseUrl: 'index.php?route=common/filemanager&token={{ token }}', filebrowserFlashBrowseUrl: 'index.php?route=common/filemanager&token={{ token }}', skin : "{{ ckeditor_skin }}", codemirror: { theme: "{{ codemirror_skin }}", }, height: 350 });		
                  </script>

	                {% endif %}

                  {% if (item.type == 'image') %}
                  <td class="text-left">
                    <a href="" id="thumb-{{ modulename }}_{{ field.name }}_{{ language.language_id }}_{{ item.name }}{{ rctr }}" data-toggle="image" class="img-thumbnail"><img src="{{ single_row_item[item.name~'_thumb'] }}" alt="" title="" data-placeholder="{{ field.label }}" /></a>
                    <input type="hidden" name="{{ modulename }}_{{ field.name }}_{{ language.language_id }}[{{ rctr }}][{{ item.name }}]" value="{{ single_row_item[item.name] }}" id="input-{{ modulename }}_{{ field.name }}_{{ language.language_id }}_{{ item.name }}{{ rctr }}" />
                  </td>
                  {% endif %}

                  {% if (item.type == 'dropdown') %}
                  <td class="text-left">
                    <select name="{{ modulename }}_{{ field.name }}_{{ language.language_id }}[{{ rctr }}][{{ item.name }}]" class="form-control" >
                      <option value="">- {{ item.label }} -</option>
                      {% for option in item.choices %}
                      <option value="{{ option.value }}"
                      {% if (option.value == single_row_item[item.name] ) %}
                        selected
                      {% endif %}>{{ option.label }}</option>
                      {% endfor %}
                    </select>
                  </td>
                  {% endif %}

                  {% endfor %}

                  <td class="text-left"><button type="button" onclick="$('#row-{{ modulename }}_{{ field.name }}_{{ language.language_id }}{{ rctr }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                </tr>
                {% set rctr = rctr + 1 %}
                {% endfor %}
                  </tbody>

                <tfoot>
                  <tr>
                    <td colspan="{{ field.fields|length }}"></td>
                    <td class="text-left"><button type="button" onclick="addRow{{ modulename }}_{{ language.language_id }}_{{ field.name }}();" data-toggle="tooltip" title="Add Row" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            {% endif %}

          {% endfor %}

        </div>
        <!-- end of tab-pane -->
          {% endfor %}</div>
          <!-- end of tab-content -->


          <div class="form-group">
            <label class="col-sm-2 control-label" for="{{ modulename }}_status">Status</label>
            <div class="col-sm-10">
              <select name="{{ modulename }}_status" id="{{ modulename }}_status" class="form-control">
                {% if _context[''~modulename~'_status'] %}
                <option value="1" selected="selected">Enabled</option>
                <option value="0">Disabled</option>
                {% else %}
                <option value="1">Enabled</option>
                <option value="0" selected="selected">Disabled</option>
                {% endif %}
              </select>
            </div>
          </div>

        </form>
      </div>
    </div>

</div>

<script type="text/javascript" src="view/template/enhancement/js/ckeditor/ckeditor_enhanced.js"></script>

<script type="text/javascript"><!--
$('#language a:first').tab('show');
$('#option a:first').tab('show');
//-->
var row = $('div[id*="cke_career_content"]').size();

{% for language in languages %}
{% set ctr = 0 %}
{% for field in fields %}

{% if (field.type == 'repeater') %}

var {{ modulename }}_{{ field.name }}_{{ language.language_id }}ctr = $('#repeater-{{ modulename }}_{{ field.name }}_{{ language.language_id }} tbody > tr').length;

function addRow{{ modulename }}_{{ language.language_id }}_{{ field.name }}() {

	html  = '<tr id="newrow-{{ modulename }}_{{ field.name }}_{{ language.language_id }}' + {{ modulename }}_{{ field.name }}_{{ language.language_id }}ctr + '">';


  {% for item in field.fields %}

  {% if (item.type == 'text') or (item.type == 'number') %}
  html += '<td class="text-left"><input type="{{ item.type }}" name="{{ modulename }}_{{ field.name }}_{{ language.language_id }}[' + {{ modulename }}_{{ field.name }}_{{ language.language_id }}ctr + '][{{ item.name }}]" value="" placeholder="{{item.label }}" id="new{{ modulename }}_{{ field.name }}_{{ language.language_id }}_{{ item.name }}' + {{ modulename }}_{{ field.name }}_{{ language.language_id }}ctr + '" class="form-control" /></td>';
  {% endif %}

  {% if (item.type == 'image') %}
  html += '<td class="text-left"><a href="" id="thumb-new{{ modulename }}_{{ field.name }}_{{ language.language_id }}_{{ item.name }}' + {{ modulename }}_{{ field.name }}_{{ language.language_id }}ctr + '" data-toggle="image" class="img-thumbnail"><img src="{{ default_image }}" alt="" title="" data-placeholder="{{ field.label }}" /></a><input type="hidden" name="{{ modulename }}_{{ field.name }}_{{ language.language_id }}[' + {{ modulename }}_{{ field.name }}_{{ language.language_id }}ctr + '][{{ item.name }}]" value="{{ default_image }}" id="input-new{{ modulename }}_{{ field.name }}_{{ language.language_id }}_{{ item.name }}' + {{ modulename }}_{{ field.name }}_{{ language.language_id }}ctr + '" /></td>';
  {% endif %}

  {% if (item.type == 'textarea') %}		
  html += '<td class="text-left"><textarea name="{{ modulename }}_{{ field.name }}_{{ language.language_id }}[' + {{ modulename }}_{{ field.name }}_{{ language.language_id }}ctr + '][{{ item.name }}]" placeholder="{{item.label }}" id="{{ modulename }}_{{ field.name }}_{{ language.language_id }}_'+ row +'_a" class="form-control ckeditor"></textarea></td>';		
  {% endif %}

  {% if (item.type == 'dropdown') %}
  html += '<td class="text-left"><select name="{{ modulename }}_{{ field.name }}_{{ language.language_id }}[' + {{ modulename }}_{{ field.name }}_{{ language.language_id }}ctr + '][{{ item.name }}]" class="form-control" >';
    html += '<option value="">- {{ item.label }} -</option>';
    {% for option in item.choices %}
    html += '<option value="{{ option.value }}"';
    html += '>{{ option.label }}</option>';
    {% endfor %}
  html += '</select></td>';
  {% endif %}

  {% endfor %}

	html += '<td class="text-left"><button type="button" onclick="$(\'#newrow-{{ modulename }}_{{ field.name }}_{{ language.language_id }}' + {{ modulename }}_{{ field.name }}_{{ language.language_id }}ctr + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
  html += '</tr>';

	$('#repeater-{{ modulename }}_{{ field.name }}_{{ language.language_id }} tbody').append(html);

  {% if ckeditor %}	
  CKEDITOR.replace("{{ modulename }}_{{ field.name }}_{{ language.language_id }}_"+row+"_a", { baseHref: "{{ base_url }}", language: "{{ language.code }}", filebrowserBrowseUrl: 'index.php?route=common/filemanager&token={{ token }}', filebrowserImageBrowseUrl: 'index.php?route=common/filemanager&token={{ token }}', filebrowserFlashBrowseUrl: 'index.php?route=common/filemanager&token={{ token }}', skin : "{{ ckeditor_skin }}", codemirror: { theme: "{{ codemirror_skin }}", }, height: 350 });		
  {% endif %}

  {{ modulename }}_{{ field.name }}_{{ language.language_id }}ctr ++;

  row++;
}

{% endif %}

{% set ctr = ctr + 1 %}
{% endfor %}
{% endfor %}

</script>

{{ footer }}
